@font-face {
  font-family: bm;
  src: url(../fonts/bpg_mrgvlovani_caps_2010.ttf)
}

@font-face {
  font-family: ba;
  src: url(../fonts/bpg_algeti.ttf)
}
/* 
@font-face {
  font-family: nm;
  src: url(../fonts/bpg_nino_mtavruli_normal.ttf)
} */
